[submodule "cargox"]
	path = cargox
	url = git@git.vauxoo.com:vauxoo/cargox.git
	branch = 14.0
[submodule "crm"]
	path = crm
	url = git@github.com:OCA/crm.git
	branch = 14.0
[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 14.0
